# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# dotenv file
.env

#test
test/output*
test/*.html
lcov.info
coverage/lcov.info

#configuration file
config/config.js


